<section class="about about-left section">
  <div class="container">
    <div class="row position-relative">
      <div class="col-lg-7 offset-lg-5" data-aos="fade-up" data-aos-delay="100">
        {% if title is defined %}<h2 class="inner-title">{{ title }}</h2>{% endif %}
        <div class="our-story">
          {{ body | markdown | safe }}
        </div>
      </div>
      <div class="col-lg-5 about-img" data-aos="zoom-out" data-aos-delay="200">
        {% set r = resize_image(path=img_src | trim_start_matches(pat="/"), width=1200, op="fit_width", format="webp", quality=80) %}
        <div><img src="{{ r.url }}" {% if img_width is defined %}width="{{ img_width }}"{% endif %} alt="{{ img_alt | default(value='') }}" loading="lazy"></div>
      </div>
    </div>
  </div>
</section>
