<div class="row g-2 my-3" data-aos="zoom-out" data-aos-delay="200">
  {% if i1 is defined %}<div class="col-6 col-md-4 col-lg-3"><img src="{{ i1 }}" alt="" class="img-fluid w-100" style="height:220px;object-fit:cover;border-radius:4px;"></div>{% endif %}
  {% if i2 is defined %}<div class="col-6 col-md-4 col-lg-3"><img src="{{ i2 }}" alt="" class="img-fluid w-100" style="height:220px;object-fit:cover;border-radius:4px;"></div>{% endif %}
  {% if i3 is defined %}<div class="col-6 col-md-4 col-lg-3"><img src="{{ i3 }}" alt="" class="img-fluid w-100" style="height:220px;object-fit:cover;border-radius:4px;"></div>{% endif %}
  {% if i4 is defined %}<div class="col-6 col-md-4 col-lg-3"><img src="{{ i4 }}" alt="" class="img-fluid w-100" style="height:220px;object-fit:cover;border-radius:4px;"></div>{% endif %}
  {% if i5 is defined %}<div class="col-6 col-md-4 col-lg-3"><img src="{{ i5 }}" alt="" class="img-fluid w-100" style="height:220px;object-fit:cover;border-radius:4px;"></div>{% endif %}
  {% if i6 is defined %}<div class="col-6 col-md-4 col-lg-3"><img src="{{ i6 }}" alt="" class="img-fluid w-100" style="height:220px;object-fit:cover;border-radius:4px;"></div>{% endif %}
  {% if i7 is defined %}<div class="col-6 col-md-4 col-lg-3"><img src="{{ i7 }}" alt="" class="img-fluid w-100" style="height:220px;object-fit:cover;border-radius:4px;"></div>{% endif %}
  {% if i8 is defined %}<div class="col-6 col-md-4 col-lg-3"><img src="{{ i8 }}" alt="" class="img-fluid w-100" style="height:220px;object-fit:cover;border-radius:4px;"></div>{% endif %}
</div>
